.selectDemo{
    background-color: coral;

    width:70%;
    // direction:'RTL',X
    text-align: right;//V

}
.selectDemo-inner{
    background-color: greenyellow;

    // width:70%;
    // direction:'RTL',X
    text-align: right;//V

}
.selectDemo-inner-with100{//V success
    background-color: greenyellow;

    width:100%;
    // direction:'RTL',X
    text-align: right;//V

}